.container-form {
  display: flex;
  gap: 5px;
}

.form-input {
  border-radius: 15px;
  height: 45px;
  padding-right: 15px;
  font-size: 15px;
  padding: 10px;
}

.submit-form {
  border-radius: 10px;
}
